#story {

      }

.jumbotron {
  background-color: turquoise;
}

.btn {
    width: 300px;
    height: 30px;
    background: fuchsia;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.btn:hover {
    width: 125px;
    height: 75px;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

.row {
    color: black;
    background-image: url("../images/purpletree2.jpg");
    background-repeat: no-repeat;
    padding-left: 1%;
    text-align: left;
    width: 800px;
    height: 250px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: -350px;}
    to {left: 400px;}
}

@keyframes mymove {
    from {right: -350px;}
    to {left: 400px;}
}
